@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*,
::after,
::before {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 0.875rem;
    opacity: 1;
    overflow-y: scroll;
    margin: 0;
}

a {
    cursor: pointer;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

li {
    list-style: none;
}

h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.275rem;
    color: var(--bs-emphasis-color);
}

/* Layout for admin dashboard skeleton */

.wrapper {
    align-items: stretch;
    display: flex;
    width: 100%;
}

#sidebar {
    max-width: 264px;
    min-width: 264px;
    transition: all 0.35s ease-in-out;
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 0;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    width: 100%;
}

.content {
    background: #edf1f5;
}

.box-profile {
    display: flex;
}

.box-page {
    padding: 40px;
    margin-bottom: 20px;
    background-color: #fff;
}

.box-header {
    margin: 20px 0 20px 0;
}

.form-img {
    margin-bottom: 50px;
}

.navbar-main {
    background-color:#778899;
    padding: 10px 0 10px 0;
    height: 74px;
}

.navbar-main i {
    color: #fff;
}

.navbar-main p {
    color: #fff;
    margin: 0;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px -38px 30px -42px;
    padding: 20px 10px 10px 10px;
    background: #fff;
}

.nav-links h5 {
    padding-left: 30px;
    color: #212529;
}

.nav-links ol {
    padding-right: 30px;
}



/* Tabel */

.table_content tr td {
    text-align: center;
}

.btn-box {
    display: flex;
    justify-content: space-between;
    margin: 30px 0 30px 0;
}

.inpt {
    margin: 30px 0 30px 0;
}

.inpt label {
    margin-bottom: 20px;
}

/* Sidebar Elements Style */

#sidebar {
    background: #fff;
    box-shadow: 1px 0 20px rgba(0, 0, 0, .08);
}

.sidebar-logo {
    padding: 14px 20px 14px 20px;
    background-color:#778899;
    height: 73px;
}

.sidebar-logo a {
    color: #e9ecef;
    font-size: 1.1rem;
    font-weight: 600;
}

.logo-img {
    width: 55px;
    border-radius: 100%;
    margin-right: 7px;
}

.sidebar-nav {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
    margin-left: 0;
}

.sidebar-header {
    color: rgb(0, 0, 0);
    font-size: .75rem;
    padding: 30px 14px 14px 0;
}

.sidebar-subs {
    padding: 10px 35px 10px 30px;
    color: #606970;
    position: relative;
    display: block;
    font-size: 0.875rem;
}

.sidebar-subs:hover {
    color: #0d6efd;
}

a.sidebar-link {
    padding: 10px 35px 10px 15px;
    color: #606970;
    position: relative;
    display: block;
    font-size: 0.975rem;
}

a.sidebar-link:hover {
    color: #0d6efd;
}

.sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

.sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}

.upload{
    width: 125px;
    position: relative;
    margin: auto;
}
  
.upload img{
    border-radius: 50%;
    border: 8px solid #DCDCDC;
}
  
.upload .round{
    position: absolute;
    bottom: 0;
    right: 0;
    background: #0d6efd;
    width: 32px;
    height: 32px;
    line-height: 33px;
    text-align: center;
    border-radius: 50%;
    overflow: hidden;
}

.upload .round input[type = "file"]{
    position: absolute;
    transform: scale(2);
    opacity: 0;
}
  
input[type=file]::-webkit-file-upload-button{
    cursor: pointer;
}

.avatar{
    width: 33px;
    border-radius: 100%;
}

.profile-name {
    font-size: 0.8rem;
    white-space: nowrap;
    color: #fff;
    margin-left: 5px;
}

.navbar-expand .navbar-nav {
    margin-left: auto;
}

.navbar span {
    text-transform: uppercase;
}

.content {
    flex: 1;
    max-width: 100vw;
    width: 100vw;
}

@media (min-width:768px) {
    .content {
        max-width: auto;
        width: auto;
    }
}

.card {
    box-shadow: 0 0 .875rem 0 rgba(34, 46, 60, .05);
    margin-bottom: 24px;
}

.card-body, h4 {
    background-color: #ffffff;
    color: #212529;
}

.illustration {
    background-color: var(--bs-primary-bg-subtle);
    color: var(--bs-emphasis-color);
}

.illustration-img {
    max-width: 150px;
    width: 100%;
}

/* Sidebar Toggle */

#sidebar.collapsed {
    margin-left: -264px;
}

/* Footer and Nav */

@media (max-width:767.98px) {

    .js-sidebar {
        margin-left: -264px;
    }

    #sidebar.collapsed {
        margin-left: 0;
    }

    .navbar,
    footer {
        width: 100vw;
    }
}

footer {
    padding: 15px 0 15px 0;
    background-color: #ffffff;
}